.jumbotron.main-hero {
	margin-bottom: 0px;
	background-image: url(../images/10248783-Happy-family-having-a-picnic-Stock-Photo.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	padding-bottom:0;
}
.navbar {
	margin-bottom:0;
}
.navbar-nav .active {
	background-color:#c0c0c0;
}
.navbar-brand {
	font-weight:bold;
}
.thumbnail {
	border:0 none;
}
.jumbotron.features {
	background-color:teal;
	margin-bottom:0;
}
.features h1 {
	color:#fff;
	font-size:43px;
}
.features ul {
	list-style-type:none;
	font-size:20px;
	color:#fff;
}
.features ul li {
	padding:5px 0;	
}
.features .glyphicon-camera {
	font-size:300px;
}
.site-footer {
	background-color:#444444;
	color:#fff;
	padding:20px;
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
	.site-footer .text-right {
		text-align:center!important;
	}
}